:root { 
--gray_600:#848484; 
--gray_700:#666666; 
--gray_400:#c4c4c4; 
--blue_900:#00398f; 
--black_900_b2:#000000b2; 
--gray_500:#ababab; 
--gray_901:#1c1d1d; 
--gray_902:#272727; 
--gray_800:#494a4a; 
--gray_701:#646464; 
--gray_900:#1c1c1c; 
--green_900:#0a8100; 
--black_900_0c:#0000000c; 
--gray_50:#f9faff; 
--bluegray_900:#373535; 
--black_900_99:#00000099; 
--black_900:#000000; 
--gray_500_11:#95959511; 
--gray_903:#222222; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}